*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    line-height:1.6;
    background:#f4f4f4;
}

header{
    background:#003366;
    color:white;
    padding:15px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h2{
    font-size:50px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:#ff9900;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:70px 50px;
}

section h2{
    text-align:center;
    margin-bottom:40px;
    color:#003366;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.course-list{
    max-width:600px;
    margin:auto;
}

.course-list li{
    background:white;
    margin:10px 0;
    padding:15px;
    border-radius:5px;
}

.contact form{
    max-width:600px;
    margin:auto;
    display:flex;
    flex-direction:column;
}

.contact input,
.contact textarea{
    margin-bottom:15px;
    padding:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

.contact button{
    padding:15px;
    background:#003366;
    color:white;
    border:none;
    cursor:pointer;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:20px;
}